<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="css/style.css" rel="stylesheet">
  <title>Pokemon Trainer Application</title>

  <!-- favicon start -->
  <link href="/images/pokeball-favicon.png" rel="icon" type="image/x-icon">
  <!-- favicon end -->
</head>

<!-- menu start -->
<header>
  <div class="container">

    <!--logo start-->
    <a href="/"><img alt="Pokemon Logo" class="logo" src="/images/pokemon-logo.png"></a>
    <!--logo end-->

    <nav>
      <ul>
        <li><a class="transitionbtn" href="/">Home</a></li>
        <li><a class="transitionbtn" href="/dashboard">Dashboard</a></li>
        <li><a class="transitionbtn" href="/about">About Us</a></li>
        <li><a class="transitionbtn" href="/contact">Contact</a></li>

        <!-- Dropdown account menu start -->
        <li class="dropdown">
          <a class="dropbtn transitionbtn" href="javascript:void(0)">Account</a>
          <div class="dropdown-content">
            <a href="/login">Login</a>
            <a href="/register">Register</a>
          </div>
        </li>
        <!-- Dropdown account menu end -->

      </ul>
    </nav>
  </div>
</header>
<!-- menu end -->
<body>
<div class="main">

</div>

</body>
<!-- footer start -->

<footer>

  <div class="footer">
    <div class="row">

      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>

    </div>
  </div>

  <div class="row">
    Pokemon Trainer Application Developer © 2023
  </div>
</footer>

<!-- footer end -->

</html>