<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Trainer Application - Home Page</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <!-- favicon start -->
    <link rel="icon" type="image/x-icon" href="/images/pokeball-favicon.png">
    <!-- favicon end -->
</head>
<style>
    .text-menu {
        color: rgb(255, 255, 255);
    }
</style>
<body>
  <div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a class="navbar-brand pt-2 " href="/">
                    <img src="/images/pokeball-favicon.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-center ">
                    <span class="ms-1 d-none d-sm-inline">Pokemon Trainer</span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start " id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link px-sm-0 px-2 pt-4">
                            <span class="ms-1 d-none d-sm-inline text-menu">Home</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown-dash" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="ms-1 d-none d-sm-inline text-menu">Dashboard</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" href="/overview">Overview</a></li>
                            <li><a class="dropdown-item" href="/pokedex">Pokedex</a></li>
                            <li><a class="dropdown-item" href="/cardCollection">Card Collection</a></li>
                            <li><a class="dropdown-item" href="/login">Shop</a></li>
                            <li><a class="dropdown-item" href="/catch">Catch a Pokemon!</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/freebies">Freebies!</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact" class="nav-link px-sm-0 px-2">
                            <span class="ms-1 d-none d-sm-inline text-menu">Contact</span></a>
                    </li>

                    <li>
                        <a href="/about" class="nav-link px-sm-0 px-2">
                            <span class="ms-1 d-none d-sm-inline text-menu">About</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown-acc" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="ms-1 d-none d-sm-inline text-menu">Account</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                            <li><a class="dropdown-item" href="/register">Register</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto">
                <div class="col pt-4">
                    <h3>Home Page</h3>
                    <hr />
                    <div class="col pt-1">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus bibendum nec diam in elementum. Fusce non laoreet quam, vitae convallis felis. Phasellus hendrerit ligula ut libero sodales pellentesque. Suspendisse efficitur viverra elementum. Suspendisse iaculis mauris nulla, tristique viverra nisi faucibus sit amet. Nam ullamcorper non metus ut ultricies. Proin a ipsum eget arcu efficitur dignissim et id justo.
                        <br><br>
                        Donec in ipsum eu ipsum sagittis vulputate. Praesent ornare, erat in vulputate malesuada, enim tellus venenatis massa, vitae laoreet lorem lectus sed magna. Praesent sed rhoncus ligula. Nulla at leo nulla. Praesent feugiat tellus at libero luctus, ac feugiat nisl efficitur. Morbi ac odio ante. Nullam ut sapien nec ante fringilla rutrum vel ac tortor. Phasellus ut egestas ante, ac vehicula orci.
                        <br><br>
                        Morbi nec libero bibendum, cursus nulla sed, tempus nibh. Mauris id velit urna. Ut porttitor mi at augue lobortis, sit amet rutrum nulla rutrum. Vestibulum a egestas justo. Vestibulum rutrum, erat sit amet cursus fringilla, sem sapien vestibulum dolor, non vestibulum magna lacus non quam. Donec vestibulum erat id eros sagittis pulvinar. Vivamus nec consectetur lectus. Vestibulum cursus quam in dictum hendrerit.
                        <br><br>
                        Quisque tincidunt tristique tincidunt. Ut odio lorem, facilisis quis interdum ac, sagittis ut nisl. Nam tincidunt tellus non dui vulputate bibendum. Praesent quis ante quis purus euismod vestibulum. Mauris id sodales ligula. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                        <br><br>
                        Vestibulum lorem turpis, congue id pretium nec, scelerisque eu massa. Quisque lobortis quam sit amet leo semper, vitae iaculis urna porta. Donec quis ipsum molestie, pretium ex fermentum, bibendum sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; In elementum sed mauris hendrerit tincidunt. Nullam interdum suscipit purus sed lobortis. Fusce laoreet magna quis lorem eleifend consectetur. Maecenas maximus, lacus in finibus ultrices, massa leo consequat erat, nec porta nisi dui eu velit. Vestibulum auctor vel neque in bibendum. Donec vitae consectetur tortor, blandit pellentesque dolor. Pellentesque ac ipsum metus. Suspendisse potenti. Morbi sit amet nibh eget arcu pellentesque tincidunt.
                    </div>
                </div>
            </main>
            <footer class="row bg-light py-4 mt-auto">
                <div class="col">Pokemon Trainer Application Developer - 2023</div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>