<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Trainer Application - Pokedex</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
    <!-- favicon start -->
    <link rel="icon" type="image/x-icon" href="/images/pokeball-favicon.png">
    <!-- favicon end -->
    <style>
.card-img-top {
width: 100%;
height: 30vh;
object-fit: contain;
}

.card-poke-type {
display: inline-block;
}
 </style>
<script>
    $('.collapse').collapse()
</script>
</head>
<body>
<div class="container-fluid overflow-hidden">
    <div class="row vh-100 overflow-auto">
        <div class="col-12 col-sm-3 col-xl-2 px-sm-2 px-0 bg-dark d-flex sticky-top">
            <div class="d-flex flex-sm-column flex-row flex-grow-1 align-items-center align-items-sm-start px-3 pt-2 text-white">
                <a href="/" class="d-flex align-items-center pb-sm-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5">P<span class="d-none d-sm-inline">okemon Trainer</span></span>
                </a>
                <ul class="nav nav-pills flex-sm-column flex-row flex-nowrap flex-shrink-1 flex-sm-grow-0 flex-grow-1 mb-sm-auto mb-0 justify-content-center align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-house"></i><span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown-dash" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" href="/overview">Overview</a></li>
                            <li><a class="dropdown-item" href="/pokedex">Pokedex</a></li>
                            <li><a class="dropdown-item" href="/cardCollection">Card Collection</a></li>
                            <li><a class="dropdown-item" href="/login">Shop</a></li>
                            <li><a class="dropdown-item" href="/catch">Catch a Pokemon!</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/freebie">Freebies!</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-table"></i><span class="ms-1 d-none d-sm-inline">Contact</span></a>
                    </li>

                    <li>
                        <a href="/about" class="nav-link px-sm-0 px-2">
                            <i class="fs-5 bi-grid"></i><span class="ms-1 d-none d-sm-inline">About</span></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="nav-link dropdown-toggle px-sm-0 px-1" id="dropdown-acc" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fs-5 bi-bootstrap"></i><span class="ms-1 d-none d-sm-inline">Account</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdown">
                            <li><a class="dropdown-item" href="/login">Login</a></li>
                            <li><a class="dropdown-item" href="/register">Register</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Sign out</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>
        <div class="col d-flex flex-column h-sm-100">
            <main class="row overflow-auto">
                <div class="col pt-4">
                    <h3>Pokedex</h3>
                    <p class="lead">Test Subtitle</p>
                    <hr />
                    <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                        </div>
                    <div class="card">
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Range input </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Min</label>
                                            <input type="number" class="form-control" id="inputEmail4" placeholder="$0">
                                        </div>
                                        <div class="form-group col-md-6 text-right">
                                            <label>Max</label>
                                            <input type="number" class="form-control" placeholder="$1,0000">
                                        </div>
                                    </div>
                                </div> <!-- card-body.// -->
                            </div>
                        </article> <!-- card-group-item.// -->
                        <article class="card-group-item">
                            <header class="card-header">
                                <h6 class="title">Selection </h6>
                            </header>
                            <div class="filter-content">
                                <div class="card-body">
                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">52</span>
                                        <input type="checkbox" class="custom-control-input" id="Check1">
                                        <label class="custom-control-label" for="Check1">Samsung</label>
                                    </div> <!-- form-check.// -->

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">132</span>
                                        <input type="checkbox" class="custom-control-input" id="Check2">
                                        <label class="custom-control-label" for="Check2">Black berry</label>
                                    </div> <!-- form-check.// -->

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">17</span>
                                        <input type="checkbox" class="custom-control-input" id="Check3">
                                        <label class="custom-control-label" for="Check3">Samsung</label>
                                    </div> <!-- form-check.// -->

                                    <div class="custom-control custom-checkbox">
                                        <span class="float-right badge badge-light round">7</span>
                                        <input type="checkbox" class="custom-control-input" id="Check4">
                                        <label class="custom-control-label" for="Check4">Other Brand</label>
                                    </div> <!-- form-check.// -->
                                </div> <!-- card-body.// -->
                            </div>
                        </article> <!-- card-group-item.// -->
                    </div> <!-- card.// -->


                    <div class="row">
                        <div class="col-xl-3" th:each="pokemon : ${pokemons}">
                            <div class="card h-100 p-3" style="width: 15rem;">
                                <img class="card-img-top " th:src="${pokemon.bigImage}" alt="Card image cap">
                                <div class="card-body">
                                    <hr>
                                    <p class="card-title" th:if="${pokemon.id} < 10" th:text="'#000' + ${pokemon.id}"></p>
                                    <p class="card-title" th:if="${pokemon.id} < 100 and ${pokemon.id} >= 10" th:text="'#00' + ${pokemon.id}"></p>
                                    <p class="card-title" th:if="${pokemon.id} >= 100 and ${pokemon.id} < 1000" th:text="'#0' + ${pokemon.id}"></p>
                                    <p class="card-title" th:if="${pokemon.id} > 1000" th:text="'#' + ${pokemon.id}"></p>
                                    <p class="card-text" th:text="${#strings.toUpperCase(pokemon.name)}"></p>
                                    <div th:each="type : ${pokemon.types}">
                                        <div class="card-poke-type" th:text="${#strings.capitalize(type)}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </main>
            <footer class="row bg-light py-4 mt-auto">
                <div class="col">Pokemon Trainer Application Developer - 2023</div>
            </footer>
        </div>
    </div>
</div>
</body>
</html>

<!--
<div class="grid-container">
<div th:each="pokemon : ${pokemons}" class="grid-item">
    <img th:src="${pokemon.bigImage}" height="180">
    <div th:text="${pokemon.id}"></div>
    <div th:text="${pokemon.name}"></div>
    <div th:each="type : ${pokemon.types}">
        <div th:text="${type}"></div>
    </div>
</div>

</div>-->
